[submodule "pywstk"]
	path = pywstk
	url = ssh://git@stash.silabs.com/iot_pa_hw/pywstk.git
	branch = master
	update = rebase
[submodule "pypsu"]
	path = pypsu
	url = ssh://git@stash.silabs.com/iot_pa_hw/pypsu.git
[submodule "pysiggen"]
	path = pysiggen
	url = ssh://git@stash.silabs.com/iot_pa_hw/pysiggen.git
[submodule "pyspecan"]
	path = pyspecan
	url = ssh://git@stash.silabs.com/iot_pa_hw/pyspecan.git
